@page "/ForslagOverview"
@using PDSA_System.Shared.Models
@inject HttpClient Http

<h3>Aktive forslag</h3>
<p>I dag er det @DateTime.Now.Date.ToString("D"). Klokken er @DateTime.Now.Date.ToString("t")</p>

@if (_forslag == null)
{
    <p>Ingen forslag funnet.</p>
}
else
{
    <ul>
        @foreach (var item in _forslag)
        {
            <li>@item.Emne</li>
            <li>@item.Status</li>
        }
    </ul>
}

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>TeamId</th>
        <th>Emne</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>Forslag</td>
        <td>1</td>
        <td>
            @foreach (var item in _forslag)
            {
                @item.Emne
            }
        </td>
        <td>
            @foreach (var item in _forslag)
            {
                @item.Status
            }
        </td>
    </tr>
    </thead>
    <tbody>
    </tbody>

</table>

@code {
    private Forslag[]? _forslag;

    protected override async Task OnInitializedAsync() =>
        _forslag = await Http.GetFromJsonAsync<Forslag[]>("/api/Forslag");

}
