/*
<label for="@Name">@Label</label>
<input type="@Type" name="@Name" id="@Id" class="form-control"/>

@code {

    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public string Label { get; set; } = "Input:";

    [Parameter]
    public string Type { get; set; } = "text";

    //[Parameter]
    //public string BindValue { get; set; }

}

*/
